@mixin row {
    @include grid-row;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

@mixin row--collapse ($column-selector: ".column") {
    margin-right: 0;
    margin-left: 0;

    > #{$column-selector} {
        padding-right: 0;
        padding-left: 0;
    }
}

@mixin row--align--right {
    justify-content: flex-end;
}

@mixin row--align--center {
    justify-content: center;
}

@mixin row--align--justify {
    justify-content: space-between;
}

@mixin row--align--spaced {
    justify-content: space-around;
}

@mixin row--align--top {
    align-items: flex-start;
}

@mixin row--align--middle {
    align-items: center;
}

@mixin row--align--bottom {
    align-items: flex-end;
}

@mixin column {
    @include grid-column;
}

@mixin column--align-self--top {
    align-self: flex-start;
}

@mixin column--align-self--middle {
    align-self: center;
}

@mixin column--align-self--bottom {
    align-self: flex-end;
}

@mixin column--shrink {
    flex: 0 0 auto;
}

@mixin grid-selectors {
    .row {
        @include row;
    }

    .row--collapse {
        @include row--collapse;
    }

    .row--align--center {
        @include row--align--center;
    }

    .row--align--right {
        @include row--align--right;
    }

    .row--align--justify {
        @include row--align--justify;
    }

    .row--align--spaced {
        @include row--align--spaced;
    }

    .row--align--top {
        @include row--align--top;
    }

    .row--align--middle {
        @include row--align--middle;
    }

    .row--align--bottom {
        @include row--align--bottom;
    }

    .column {
        @include column;
    }

    .column--shrink {
        @include column--shrink;
    }

    .column--align-self--top {
        @include column--align-self--top;
    }

    .column--align-self--middle {
        @include column--align-self--middle;
    }

    .column--align-self--bottom {
        @include column--align-self--bottom;
    }

    // For each breakpoint make the required column and offset classes.
    @each $br, $value in $grid-breakpoints {
        @include breakpoint(map-get($grid-breakpoints, $br)) {
            @for $i from 1 through $grid-column-count {
                .column--#{$br}-#{$i} {
                    flex: grid-column-flex($i);
                    max-width: grid-column-size($i);

                }

                //Block grid
                .block-grid--#{$br}-#{$i} {
                    @include block-grid($i);
                }

                //We need offsets for all sizes (from 0) except last.
                $o: $i - 1;

                .column-offset--#{$br}-#{$o} {
                    margin-left: grid-column-size($o);
                }
            }
        }
    }
}
