@mixin page {

    padding: map-get($page-paddings, 'small');

    @if type-of($grid-breakpoints) == "map" {
        @each $br, $value in $grid-breakpoints {
            @include breakpoint(map-get($grid-breakpoints, $br)) {
                padding: map-get($page-paddings, $br);
            }
        }
    }
}

@mixin container {
    margin: 0 auto;

    &--limited {
        max-width: 120rem;
    }
}


@mixin structure-selectors {
    .page {
        @include page;
    }

    .container {
        @include container;
    }
}
