body {
  font-weight: 300;
}

h1, h2, h3 {
  font-family:  'Roboto', Helvetica, sans-serif;
  font-weight: 100;
  margin-bottom: 2rem;
}

h2, h3 {
  font-weight: 400;
}

h2 {
  border-bottom: 1px solid #ebebeb;
  padding: 0 0 3px;
}

h1.hero-name {
  font-family:  'Roboto', Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 2rem;
}